@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

body {
  background-color: #fff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.65;
}

rect {
  stroke: #000;
}

svg {
  shape-rendering: crispEdges;
}

